= wrap_layout :base do
    %link{:href=>"/stylesheets/blog.css", :rel=>'stylesheet'}
    %nav
        %h1.text-center
            %a#brandHeading.glowOnHover{:href=>"//antumbra.io"}
                Antumbra
            %a#subTitle.glowOnHover{:href=>"//antumbra.io/blog"}
                Development Blog
    %body.blogBody
        %h3#postHeading
            = current_page.data.title
            %br
            %p#postDate
                = current_page.data.date
        #container
            =yield
        #author
            #pictureContainer
                %img#authorPic{:src=>"//s3.amazonaws.com/antumbra-io/#{current_page.data.author.pic}.jpg"}
            #authorInfo
                %h4#authorName
                    =current_page.data.author.name
                %h6#authorTitle
                    =current_page.data.author.title
        / link with `#disqus_thread` is optional if not using `disqus_count` -->
        %a{:href => "http://example.com/foo.html#disqus_thread"} Comments

        = disqus
        = disqus_count
